/* style.css */

/* text under the panel */
.desc-box {
  width: 75%;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 14px;
  color: #777777;
}

/* 父容器：让两列等高 */
.input-row1 {
  display: flex;
  gap: 15px;
  align-items: stretch;
}


/* Backgroundcolor for Input */
.col-box {
  background-color: #FFF8DC;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 150px;
  min-height: 150px;
}


/* Hover for Input */
.col-box:hover {
  background-color: #FFFDE8;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
